.side-bar {
    background-color: #42A8C0;
}

.my-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.content {
    float: right;
}

h2 {
    background-color: #42A8C070;
    border-radius: 20px;
    padding-left: 15px;
}

h3 {
    background-color: #42A8C030;
    border-radius: 20px;
    padding-left: 15px;
}

span {
    color: #42A8C0;
    font-weight: bold;
}

li {
    font-size: larger;
}

.elements {
    font-size: x-large;
    margin-left: 25px;
    margin-bottom: 5px;
}