.side-bar {
    background-color: #42A8C0;
}

.my-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

h4 {
    background-color: #42A8C070;
    border-radius: 20px;
    padding-left: 15px;
    padding-bottom: 8px;
}

h5 {
    background-color: #42A8C030;
    border-radius: 20px;
    padding-left: 15px;
}

span {
    color: #42A8C0;
    font-weight: bold;
}

li {
    font-size: large;
}

.elements {
    font-size: large;
    margin-left: 25px;
    margin-bottom: 5px;
}

p {
    font-size: large;
}